@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
}

li {
  color: white;
  padding: 0px;
  width: 20rem;
  padding-top: 10rem;
  margin: 0;
  list-style: none;
}

.info h1 {
  animation: fade-in 8s;
  font-size: 5rem;
  padding: 0rem 0rem 15rem 0rem;
}

.accent {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.accent_2 {
  color: white;
}

.info h3 {
  animation: fade-in 5s;
  font-size: 5em;
  letter-spacing: -4px;
  line-height: 1em;
  margin: 0;
  padding: 10rem 20rem 0 17rem;
  font-family: "OleoScript";
}

.info h4 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: -1px;
  margin: 0.8rem 0;
  padding: 1rem 2rem 0 17rem;
  animation: fade-in 8s;
  font-family: "OleoScript";
}

.icon {
  animation: fade-in 20s;
  /* animation-delay: 5s; */
  color: white;
}
