@font-face {
  font-family: "Playwrite";
  src: url("./assets/fonts/Playwrite_RO/static/PlaywriteRO-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
div {
  /* background: linear-gradient(
    90deg,
    rgba(45, 133, 168, 1) 0%,
    rgba(188, 205, 224, 1) 50%,
    rgba(222, 222, 222, 1) 100%
  ); */
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 8rem;
  letter-spacing: -0.045em;
  white-space: nowrap;
  color: black;
  font-family: "OleoScript";
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.projects__text {
  font-size: 3rem;
  width: 30rem;
}

.name {
  font-family: "OleoScript";
  size: 0.7rem;
  padding: 0 0rem 30rem 0rem;
  color: white;
  position: -webkit-sticky;
}

.Item__title {
  color: white;
  font-size: 3rem;
  font-family: "OleoScript";
  width: 35rem;
}

.items {
  display: flex;
  flex-direction: column;
}
